<!DOCTYPE html>  
<html lang="es">   
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">       
    </head>
    <body>
    <h2>ACERCA DE NOSOTROS</h2>
        <h3>
            LA EMPRESA
        </h3>
            <div class = "contenedor-ofrecemos">
                <p>Somos una asociación formada con el fin de realizar las actividades grupales de la asignatura Desarrollo Web en Entorno Cliente</p>
                <p>Realizamos cualquier tipo de actividad que tenga que ver con DOM, AJAX y Angular.</p>
                <p>El grupo empresarial lo componen: Daniel Jiménez, Jorge García y Marta Aparicio</p>
                <p>Nuestra meta en un futuro es realizar estas apps trabajando como Desarrolladores de Aplicaciones Web con grandes empresas</p>
            </div>
    </body>
</html>

